<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../images/001-bread-roll.png" alt="" width="30" height="24" class="d-inline-block align-top">
      Hot-KanBuns
    </a>

    <!--create new project-->
    <div id="create-project">
      <input type="text" id="name" placeholder="Project Name">
       <input type="text" id="desc" placeholder="Project Description">
      <button type="submit" id="create-btn">Create</button>
    </div>


    <a href="/login">Log Out</a>
  </div>
</nav>

<!-- member name -->
<div class="container" id="welcome-el">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Welcome <span class="member-name"></span></h2>
    </div>
  </div>
</div>

<!-- projects list -->
<div class="container">
  <div class="row">

    <div class="col-md-6">
      <h3>My Projects</h3>
      <ul id="my-projects"></ul>
    </div>

    <div class="col-md-6">
      <h3>All Projects</h3>
      <ul id="all-projects"></ul>
    </div>

  </div>
</div>